<form class="input-group container w-50" id="new-post-form">
  <div class="container">
    <input
      type="text"
      class="form-control mb-2"
      name="title"
      id="post-title-area"
      placeholder="Title"
    />
    <textarea
      name="content"
      class="form-control mb-2"
      id="post-content-area"
      placeholder="Content"
    ></textarea>
    <button id="create-post-btn" class="form-control">Submit</button>
  </div>
</form>

<div class="container w-50">
  <button class="form-control btn-success mb-2" id="make-new-post-btn">Make New
    Post</button>
</div>