<form class="input-group">
  <div>
    <label class="input-group-prepend" for="username">Username</label>
    <input
      class="form-control mb-2"
      type="text"
      id="username-input"
      name="username"
    />
    <label class="input-group-prepend" for="password">Password</label>
    <input
      class="form-control mb-2"
      type="password"
      id="password-input"
      name="password"
    />
    <button
      class="btn mb-2 btn-outline-secondary"
      id="login-button"
    >Login</button>
  </div>
</form>