<form class="input-group container w-100" id="new-comment-form">
  <div class="container">
    <textarea
      name="content"
      class="form-control mb-2"
      id="comment-content-area"
      placeholder="Leave a comment"
    ></textarea>
    <button id="create-comment-btn" class="form-control mb-2">Submit</button>
  </div>
</form>