<form class="input-group">
  <div>
    <h1>Register</h1>
    <label class="input-group-prepend" for="username">Username</label>
    <input
      class="form-control mb-2"
      type="text"
      id="register-username-input"
      name="username"
    />
    <label class="input-group-prepend" for="email">Email</label>
    <input
      class="form-control mb-2"
      type="email"
      id="register-email-input"
      name="email"
    />
    <label class="input-group-prepend" for="password">Password</label>
    <input
      class="form-control mb-2"
      type="password"
      id="register-password-input"
      name="password"
    />
    <label class="input-group-prepend" for="password confrim">Confrim Password</label>
    <input
      class="form-control mb-2"
      type="password"
      id="password-confirm"
      name="password confirm"
    />
    <button
      class="btn mb-2 mt-2 btn btn-success w-100"
      id="register-button"
    >Register</button>
  </div>
</form>