html {
  background-color: burlywood !important;
}

header {
  padding: 1rem;
  text-align: center;
}

a {
  text-decoration: none !important;
  font-weight: 700 !important;
  color: orangered !important;
}

nav > a {
  color: darkslategray !important;
}
.nav-item {
  color: black !important;
}
